:root {
  --bg: #0A1523;
  --bg-light: rgba(13,35,62, 0.5);
  --text-color: white;
  --nav-active-width: 250px;
  --nav-basic-width: 80px;
}

html {
  overflow: auto;
}

body {
  background-color: var(--bg);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  display: flex;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.highlight {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 50px 70px white;
  opacity: 0.04;
  transition: opacity 0.3s;
  z-index: -10;
}
.hidden {
  opacity: 0;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}


a {
  color: white;
  text-decoration: none;
}

nav {
  position: fixed;
  background-color: var(--bg-light);
  width: var(--nav-basic-width);
  height: 100vh;
  overflow: hidden;
  border-radius: 0 20px 20px 0;
  transition: width 0.3s;
  box-shadow: 0 0 10px 10px rgba(13,35,62, 0.3);
  z-index: 20;
  padding-top: 30px;
}

nav:hover {
  width: var(--nav-active-width);
}

.nav-block {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  padding-left: 20px;
}

.nav-block::before {
  margin-top: -10px;
  content: '';
  position: absolute;
  left: -100%; /* Начальное положение вне элемента */
  width: 100%;
  height: 60px;
  /* border-radius: 0 10px 10px 0; */
  background-color: rgba(154, 164, 177, 0.1); /* Цвет фона для эффекта */
  transition: left 0.2s ease; 
}
.nav-block:hover::before {
  left: 0;
}
.nav-block span {
  display: none;
  font-size: 20px;
  vertical-align: super;
  margin-left: 10px;
  transition: display 0.3s;
}
.nav-lessons {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.nav-lesson {
  display: none;
  margin: 0;
  margin-left: 30px;
  transition: all 0.3s;
}
.nav-lesson img {
  margin-left: -15px;
}

.nav-lesson span {
  vertical-align: middle;
  font-size: 15px;
}

.nav-lesson::before {
  margin-top: 10px;
  content: '';
  position: absolute;
  left: -100%; /* Начальное положение вне элемента */
  width: 100%;
  height: 30px;
  /* border-radius: 0 10px 10px 0; */
  background-color: rgba(131, 66, 166, 0.1); /* Цвет фона для эффекта */
  transition: left 0.2s ease; 
}

.nav-lesson-active {
  color: rgba(131, 66, 166, 1);
}

.nav-lesson:hover::before {
  left: 0;
}

.mt-7 {
  margin-top: -7px;
}

.active {
  margin-top: -10px;
  background-color: rgba(154, 164, 177, 0.8);
}

.container {
  padding-top: 20px;
  width: 1400px;
  margin: 0 auto;
}

.data-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; /* Выравнивание по горизонтали */
  align-items: center; /* Выравнивание по вертикали */
}

@media screen and (max-width: 1800px) {
  .data-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 80%;
  }
  .header {
    text-align: center;
  }
  .text-container {
    margin-top: 60px;
    text-align: left;
    margin-left: 20%;
  }
  .block-name {
    /* margin-left: -20%; */
  }
  .next-button {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 1140px) {
  .svg-raw {
    width: 477px;
  }
  .block {
    margin-top: -12px;
  }
  .block-text {
    top: 55px;
  }
}

@media screen and (max-width: 1006px) {
  .header {
    margin-bottom: 60px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
  .svg-raw {
    width: 277px;
  }
  .block {
    margin-top: -45px;
  }
  .block-text {
    top: 48px;
    font-size: 13px;
  }
  nav {
    display: none;
  }
}

.block {
  position: relative;
  margin-top: -10;
  transition: all 0.5s;
  cursor: pointer;
}

.block:hover {
  transform: translateX(-20px) translateY(10px);
}

.active-block {
  transform: translateX(-20px) translateY(10px);
}

.block-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.block-p {
  text-indent: 1ch;
  width: 80%;
}